/* Add this CSS code to your styles.css file */

body {
    font-family: 'Cambria', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: cornsilk;
    text-align: center;
    padding: 0px;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
}

#month {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    background-color: rgb(65, 73, 186);
    color: white;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 15px;
}

button:hover {
    background-color: #0a651b;
}

#app1 {
    max-width: 1200px;
    margin: 5px auto;
    padding: 10px;
}

#toolbar {
    margin-bottom: 1px;
}

table {
    border-collapse: collapse;
    margin-top: 0px;
}

th, td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: center;
}

th {
    background-color: rgb(65, 73, 186);
    color: white;
}

/* Optional: Add hover effect to table rows */
tr:hover {
    background-color: #f5f5f5;
}
